################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


.vscode/

[Dd]ebug/
[Rr]elease/
x64/
bin/
obj/
/.vs/FizzBuzzAppTDD
