################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FizzBuzzAppTDD/FileContentIndex
/.vs/FizzBuzzAppTDD/v17
/FizzBuzzAppTDD/obj
/FizzBuzzTests/bin/Debug/net6.0
/FizzBuzzTests/obj
